<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список задач</title>
</head>
<body>
<h1>Список задач</h1>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Название</th>
        <th>Описание</th>
        <!-- Добавьте другие заголовки по мере необходимости -->
    </tr>
    </thead>
    <tbody>
    <tr th:each="task : ${tasks}">
        <td th:text="${task.id}"></td>
        <td th:text="${task.name}"></td>
        <td th:text="${task.description}"></td>
        <!-- Добавьте другие поля по мере необходимости -->
    </tr>
    </tbody>
</table>
</body>
</html>
